<#include "/includes/basic_layout.ftl">

<@BasicLayout title="权限管理">
<section class="content-header">
    <h1>
        权限管理
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example" class="table table-bordered table-striped">

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</@BasicLayout>
<script src="/assets/management/permission.js"></script>
<script>
    $(function(){
      ManagementPermission.load();
     })
</script>