<#include "/includes/basic_layout.ftl">

<@BasicLayout title="资源管理">
<section class="content-header">
    <h1>
        资源管理
        <small>菜单资源</small>
    </h1>
</section>

<section class="content container-fluid">
    <div class="box">
<!--        <div class="box-header">-->
<!--            <h3 class="box-title">资源管理</h3>-->
<!--        </div>-->
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example" class="table table-bordered table-striped">

            </table>
        </div>
    </div>
</section>
</@BasicLayout>

<script src="assets/management/resource.js"></script>
<script>
    $(function(){
      ManagementResource.load();
     })
</script>