<#include "/includes/basic_layout.ftl">
<style>
    .form-group{
      margin-right:20px;
    }
</style>
<@BasicLayout title="角色管理">
<section class="content-header">
    <h1>
        角色管理
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="name-search">名称：</label>
                            <input type="text" class="form-control" id="name-search" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="state-search">状态：</label>
                            <select id="state-search" class="form-control">
                                <option></option>
                                <option value=1>正常</option>
                                <option value=0>已删除</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-default" id="search-btn" style="float:right;">搜索</button>
                    </form>
                    <table id="example" class="table table-bordered table-striped">

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="rolePermissionModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">角色权限</h4>
            </div>
            <div class="modal-body">
                <table id="rolePermissionTable" class="table table-bordered table-striped">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</@BasicLayout>
<script src="assets/management/role.js"></script>
<script>
    $(function(){
      ManagementRole.load();
      $("#search-btn").click(ManagementRole.search);
     })
</script>
