<html>
<head>
    <#include "/includes/cdn_links.ftl">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="custom-header">
                
            </div>
            <div class="logo">
                <h1>error</h1>
            </div>
            <p class="lead text-muted">Unauthorized or NotFound or ServerError</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
</body>
</html>