<!DOCTYPE html>
<html>
<head>
        <title>AdminLTE 2 | Log in</title>
    <#include "/includes/resources_header.ftl">
  <style>
    .login-error{
     border-color: red;
    }
  </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="login" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" autocomplete="new-password" id="password" class="form-control" placeholder="Password">
        <input type="hidden" id="password_md5" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="remembered"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="/register" class="text-center">Register a new membership</a>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<#if error??>
<input type="hidden" id="errMsg" value='${error}'>
</#if>
<#include "/includes/script_footer.ftl">
</body>
<script src="/assets/crypto/crypto-js.min.js"></script>
<script>
$(function(){
  $("#password").on("input",function(){
    var md5 = CryptoJS.MD5($("#password").val()).toString();
    $("#password_md5").val(md5);
  })

  $("input.form-control").click(function(){
     $("input.form-control").removeClass("login-error");
   })
  if($("#errMsg").val() == null){
    console.log(null);
  }else{
    console.log($("#errMsg").val());
    $("input.form-control").addClass("login-error");
  }
})

</script>
</html>
